<section class="main">
  <div class="row clearfix">
    <div class="col2" role="complementary">
      <div class="modulo modulo-sidebar" id="guide-move">
        <h4>Cadastros</h4>
        <div class="botoes clearfix">
          <div class="row clearfix">
            <%= link_to "Usuários", users_path %>
          </div>
          <div class="row clearfix">
            <%= link_to "Médicos",  doctors_path  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
